.DS_Store
.bundle
*.gem
Gemfile.lock
pkg/*
suit/rails-*/dummy/db/test.sqlite3
suit/rails-*/dummy/log/*.log
suit/rails-*/dummy/tmp/*
suit/shared/mysql
suit/shared/public/images/rich/cms/*
suit/shared/public/javascripts/jquery/core.js
suit/shared/public/javascripts/jquery/ui/rich_cms/*
suit/shared/public/javascripts/rich_cms.js