<div class="content">
  <div class="left">
    <%= rich_cms_tag ".rcms_content", "header"   , :tag => :h1   %>
    <%= rich_cms_tag ".rcms_content", "paragraph", :as  => :html %>
    <p>
      <%= rich_cms_tag ".rcms_content", "clean", :tag => :none %>
    </p>
  </div>
  <ul>
    <% ["Home", "Developers", "Comments", "Documentation", "Support", "About me"].each do |x| %>
    <li>
      <%= link_to rich_cms_tag(".rcms_content", x), "#" %>
    </li>
    <% end %>
  </ul>
</div>