<div class="login">
  <%= form_for rich_cms_authenticated_class.new, :url => rich_cms_login_path, :html => {:class => "ajaxify"} do |form| %>
    <fieldset>
      <ol>
        <% rich_cms_authentication_inputs.each do |input| %>
        <li class="required">
          <%= form.label input %>
          <%= form.input input, :html => {:size => ""} %>
        </li>
        <% end %>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li>
          <%= submit_tag "Login" %>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>