
=text_shadow(!color, !x, !y, !blur = 0)
  text-shadow: !color !x !y !blur

=gradient(!top, !bottom)
  background: !top
  background-image: -webkit-gradient(linear, left top, left bottom, from(!top), to(!bottom))
  background-image: -moz-linear-gradient(top, !top, !bottom)

=border_radius(!radius)
  border-radius = !radius
  -moz-border-radius = !radius
  -webkit-border-radius = !radius

=box_shadow(!color, !x, !y, !size)
  box-shadow: !color !x !y !size
  -moz-box-shadow: !color !x !y !size
  -webkit-box-shadow: !color !x !y !size
